<div>
  <textarea readonly>{{bil1}} {{op}} {{bil2}}</textarea>
</div>

<div>
  <button (click) = "type(1)">1</button>
  <button (click) = "type(2)">2</button>
  <button (click) = "type(3)">3</button>
  <br>
  <button (click) = "type(4)">4</button>
  <button (click) = "type(5)">5</button>
  <button (click) = "type(6)">6</button>
  <br>
  <button (click) = "type(7)">7</button>
  <button (click) = "type(8)">8</button>
  <button (click) = "type(9)">9</button>
  <br>
  <button (click) = "type(11)">-</button>
  <button (click) = "type(12)">+</button>
  <button (click) = "type(13)">*</button>
  <button (click)="result()">=</button>
  <br>
</div>

Hasil = {{res}}

<router-outlet></router-outlet>